<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,
initial-scale=1.0">
<title>Página Inicial</title>
<!-- Incluindo Bootstrap CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.
min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Sistema de Gerenciamento Sobre a Matéria História</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/disciplina/">Disciplina</a>
            </li>
            <li class="nav-item">
<a class="nav-link text-dark" href="/curso/">Curso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/aluno/">Aluno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/topico/">Topico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/professor/">Professor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/periodo_historico/">Periodo Historico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"
href="/admin/">Administração</a>
            </li>
        </ul>
    </div>

</nav>
<div class="container mt-5">
    <button class="btn btn-warning mt-5" onclick="window.location.href='/admin/'">Django Admin</button>
            <h1 class="text-center">Periodos Historicos</h1>
            <table class="table table-info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Topico</th>
                        <th>Seculo</th>
                        <th>Professor</th>
                        <th>Contexto Historico</th>
                        <th>Principais Ideias</th>
                        <th>Impactos e Consequências</th>
                        <th>Legado</th>

                        
                    
                    </tr>
                </thead>
                <tbody>
                    {% for periodo_historico in periodo_historico %}
                        <tr>
                            <td><strong>{{ periodo_historico.id }}</strong></td>
                            <td>{{ periodo_historico.nome }}</td>
                            <td>{{ periodo_historico.topico }}</td>
                            <td>{{ periodo_historico.periodo }}</td>
                            <td>{{ periodo_historico.professor }}</td>
                            <td>{{ periodo_historico.contexto }}</td>
                            <td>{{ periodo_historico.principais }}</td>
                            <td>{{ periodo_historico.impactos_e_consequencias }}</td>
                            <td>{{ periodo_historico.legado }}</td>

                           
                           
                           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.mi
n.js"></script>
</body>
</html>